body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 6px;
}

.legend i {
  float: left;
  margin-right: 8px;
  width: 18px;
  height: 18px;
}
